@{
    ViewData["Title"] = "Publique seu artigo | Fórum";
}
<form method="POST" action="">
  <div class="form-group">
    <label for="TITULO_ARTIGO">Título do Artigo</label>
    <input type="text" class="form-control" id="TITULO_ARTIGO" placeholder="Título do seu artigo">
  </div>
  <div class="form-group">
    <label for="CORPO_ARTIGO">Conteúdo do Artigo</label>
    <textarea class="form-control" id="CORPO_ARTIGO" rows="5"></textarea>
  </div>
</form>