@model ForumArtigos.Areas.Home.Models.ArtigoModel;
@{
    ViewData["Title"] = "Publique seu artigo | Fórum";
}
<div class="form-group">
    <label>Título do Artigo</label>
    <input type="text" class="form-control" id="Titulo" placeholder="Título do seu artigo">
</div>
<div class="form-group">
    <label>Conteúdo do Artigo</label>
    <textarea class="form-control" id="Conteudo" rows="5" cols="25"></textarea>
</div>
<div class="form-group">
    <input onclick="enviar()" type="submit" class="btn btn-primary" value="ENVIAR">
</div>